<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/matrixes.css">
    <script src="https://pagecdn.io/lib/mathjs/7.1.0/math.min.js"></script>
    <title>Gaussian Simple</title>
</head>
<body>
    <h1 class="title">Simple gaussian elimination</h1>
    <div class="container">
        <div class="inputs">
            <input type="text" name="A" placeholder="A" autofocus id="A">
            <input type="text" name="b" placeholder="b" autofocus id="b">
        </div>
        <a href="#" id="start">
            <span>start</span>
            <div class="liquid"></div>
        </a>
    </div>
    <p id="etapa"></p>
    <!--<label id="table-body"></label>-->
    <script src="./js/metodos/direct_methods/gaussianaSimple.js"></script>
</body>
</html>