<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Methods</title>
</head>
<body>
    <canvas id="canvas1"></canvas>
        <div class="buttons">
            <a href="/bisection" id="bisection" target="_blank">
                <span>Bisection</span>
                <div class="liquid"></div>
            </a>
            <a href="/incrementales" id="incrementales" target="_blank">
                <span>Incremental search</span>
                <div class="liquid"></div>
            </a>
            <a href="/false" id="false" target="_blank">
                <span>False position</span>
                <div class="liquid"></div>
            </a>
            <a href="/newton" id="newton" target="_blank">
                <span>Newton</span>
                <div class="liquid"></div>
            </a>
            <a href="/puntofijo" id="puntofijo" target="_blank">
                <span>Fixed point</span>
                <div class="liquid"></div>
            </a>
            <a href="#" id="multi_root">
                <span>Multiple roots</span>
                <div class="liquid"></div>
            </a>
            <a href="#" id="secante">
                <span>Secant</span>
                <div class="liquid"></div>
            </a>
            <a href="/gaussianaSimple" id="gaussianaSimple" target="_blank">
                <span>Simple gaussian elimination</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="gauss_p" class="direct">
                <span>Gaussian elimination partial pivoting</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="gauss_t" class="direct">
                <span>Gaussian elimination total pivoting</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>LU with simple gaussian</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>LU with partial pivoting</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Doolittle</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Crout</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Cholesky</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Jacobi</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Gauss Seidel</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>SOR</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Vandermonde</span>
                <div class="liquid liquid-vectors"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Interpolation Newton</span>
                <div class="liquid liquid-vectors"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Lagrange</span>
                <div class="liquid liquid-vectors"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Linear splines</span>
                <div class="liquid liquid-vectors"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Quadratic splines</span>
                <div class="liquid liquid-vectors"></div>
            </a>
            <a href="#" id="" class="direct">
                <span>Cubic splines</span>
                <div class="liquid liquid-vectors"></div>
            </a>
        </div>
    <script src="./js/scripts.js"></script>
</body>
</html>